<% @spaces.each do |space| %>
  <div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title "><%= space.address %><span class="pull-right"><%=  space.user.email %></span></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-7">
              <h3>Description:</h3>
              <p><%= space.description %></p>
              <h3>$ <%= space.cost%> /night </h3>
            </div>
            <div class="col-sm-5">
              <% if space.photos.first %>
                <%= image_tag space.photos.first.image.url, class: "img-responsive img-rounded" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2"></div>

  </div>
<% end %>
