<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title "><%= @space.address %><span class="pull-right"><%= @space.user.email %></span></h3>
      </div>
      <div class="panel-body">
        <h3>Description:</h3>
        <p><%= @space.description %></p>
        <h3>$ <%= @space.cost%> /night </h3>
        <% if @space.user == current_user%>
          <%= link_to 'Add Photos', new_space_photo_path(@space), class: "btn btn-primary add-photo-btn" %>
        <%end%>
        <% @space.photos.each do |photo| %>
          <%= image_tag photo.image.url , class: "img-responsive img-rounded"%>
        <% end %>
      </div>


    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
