
<h4>Add Photo</h4>

<%= bootstrap_form_for [@space, @photo], :html => { :multipart => true } do |f| %>
  <%= f.file_field :image, class: "btn btn-sm" %>
  <%= f.submit 'Add Photo', class: "btn btn-sm btn-success add-photo-btn" %>
<% end %>



<% @space.photos.each do |photo|%>
  <%= image_tag photo.image.url(:thumb) %>
  <%= link_to "Delete", space_photo_path(@space,photo), method: :delete %>
<% end %>


<%= link_to "Done", space_path(@space), class: "btn btn-info photo-btn-done"%>
